.field
  outline: none
  border: none
  width: 100%
  height: 58px
  &--
    &br_
      &gray
        border: 1px solid $relief-gray
    &bg_
      &white
        background: white
    &area
      min-height: 200px