<header>
  <h1>HEADER UPD</h1>
  <p>text test</p>
  <img src="@img/test.png" alt="">
  <p>test</p>
</header>

<!-- ul.menu>li.menu__item*10>a[href="#"].menu__link{Link $}

<ul class="menu">
  <li class="menu__item"><a href="#" class="menu__link">Link 1</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Link 2</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Link 3</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Link 4</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Link 5</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Link 6</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Link 7</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Link 8</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Link 9</a></li>
  <li class="menu__item"><a href="#" class="menu__link">Link 10</a></li>
</ul> -->
