{% set menus = [{title: 'News', link: '#'}, {title: 'Events', link: '#'}, {title: 'Gallery', link: '#'}, {title: 'About', link: '#'}, {title: 'Contact', link: '#'}] %}
<header class="header-wrapper">
  <div class="overlay"></div>
  <div class='header header--mobile el--p_v_5 el--p_t_4 el--p_b_6 el--p_v_7-md el--p_t_6-md el--p_b_7-md'>
    <div class="container container--variant_tiny">
      <div class="row row--justify_between">
        <ul class="js-menu menu menu--mobile el--p_f_5 el--p_f_10-md" id="js-menu">
          {% for item in menus %}
            <li class="menu__item el--m_b_3 el--m_b_5-md">
              <a href="#" class="menu__link text text--size_2md text--c_white text--decoration_none text--pointer">
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="wrapper-logo">
          <a class="text text--w_700 text--size_1md text--size_2lg-md text--c_white text--decoration_element text--decoration_none" href="#">OSItest</a>
        </div>
        <div class="js-wrapper-burger wrapper-burger" id="js-burger">
          <button class="burger">
            {% for item in [1, 2, 3] %}
              <span class="burger__line"></span>
            {% endfor %}
          </button>
        </div>
      </div>  
    </div>  
  </div>
  <div class="header header--desctop el--p_t_10">
    <div class="container container--variant_tiny">
      <div class="row row--justify_between row--align_center">
        <a href="#" class="text text--size_xl text--c_white text--decoration_element text--decoration_none">OSItest</a>
        <ul class="menu menu--desctop">
          {% for item in menus %}
            <li class="menu__item">
              <a href="#" class="menu__link text text--size_2md text--c_white text--decoration_none text--pointer">
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>  
  </div>
</header>
